/*Background*/
body{
    background-image: url(media/BACKGROUND.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: pink;
    overflow: hidden;
}

html, body {
  height: 800px;
  overflow: hidden;
}
/*navigation*/
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 40px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.navbar img {
  width: 25px;
  height: 25px;
}

/*confetti*/
.confeti {
  background-image: url("media/confeti.png");
  background-repeat: repeat;
  background-size:600px;
  opacity: 0.6;
  animation-name: drop;
  animation-duration: 400s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.base{
  opacity: 0;
}

@keyframes drop{
0%{
  background-position: 0 0;
}
100%{
  background-position: 0 10000px;
}
}

/*big cake*/

.paracenter{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

.bigcake{
  padding-top: 30%;
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
}
